# Ignore everything
**

# Allow files and directories
!/python_dependencies/**
!/requirements-processing.txt
!/requirements-submissions.txt
!/requirements-upload-failures.txt
!/requirements-upload-success.txt
!/requirements-wmg-pipeline.txt
!/requirements-cellguide-pipeline.txt
!/backend/**
!/tests/**
!/scripts/**
!/container_init.sh
