# Ignore everything
**

# Allow files and directories
!/requirements.txt
!/requirements-api-server.txt
!/requirements-processing.txt
!/requirements-submissions.txt
!/python_dependecies/upload_handler/requirements.txt
!/python_dependecies/upload_handler/requirements.txt
!/python_dependecies/wmg/requirements.txt
!/python_dependecies/cellguide_pipeline/requirements.txt
!/backend/**
!/tests/**
!/scripts/**
!/container_init.sh
