repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0 # Must be kept in sync with black version in requirements.txt
    hooks:
      - id: black
        stages: [commit]
        files: ^(backend|tests|scripts)/
        args: ["--config", "pyproject.toml"]
        exclude_types: ["json"]
      - id: black-jupyter
        stages: [commit]
        files: ^(backend|tests|scripts)/
        args: ["--config", "pyproject.toml"]
        exclude_types: ["json"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.239
    hooks:
      - id: ruff
        args: ["--config=pyproject.toml", "--fix"]
        stages: [commit]
        files: ^(backend|tests|scripts)/
        exclude_types: ["json"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.2
    hooks:
      - id: prettier
        args: [--write]
        stages: [commit]
        exclude_types: ["json"]
        additional_dependencies:
          - prettier@3.0.2
          - prettier-plugin-organize-imports@2.3.3
          - typescript@4.9.5
