anndata==0.9.2
annotated-types==0.5.0
boto3==1.28.25
botocore==1.31.25
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
fastobo==0.12.2
h5py==3.9.0
idna==3.4
jmespath==1.0.1
llvmlite==0.40.1
natsort==8.4.0
networkx==3.1
numba==0.57.1
numpy==1.24.4
owlready2==0.44
packaging==23.1
pandas==2.0.3
pronto==2.5.4
psutil==5.9.5
pydantic==1.10.7
pydantic_core==2.4.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
s3transfer==0.6.1
scipy==1.11.1
six==1.16.0
tiledb==0.22.2
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
coverage==7.2.7
pytest==7.4.0
pytest-subtests==0.11.0
allure-pytest==2.13.2
pyarrow==12.0.0
dask==2023.8.1
