alembic==1.11.1
anndata==0.8.0
allure-pytest==2.13.2
black==22.3.0  # Must be kept in sync with black version in .pre-commit-config.yaml
boto3==1.28.7
botocore>=1.31.7, <1.32.0
click==8.1.3
cellxgene-census==1.6.0
coverage==7.2.7
dataclasses-json==0.5.7
ddtrace==2.1.4
furl==2.1.3
jsonschema==4.18.4
moto==3.1.3
numba==0.56.4
numpy==1.23.5
openai==0.27.7
owlready2==0.40.0
pandas==1.5.3
parameterized
pronto==2.5.4
psutil==5.9.5
pyarrow==14.0.1
pydantic==1.10.7
pygraphviz==1.11
PyMySQL==0.9.3
pytest==7.4.0
pytest-subtests==0.11.0
python-json-logger==2.0.7
requests>=2.22.0
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
ruff==0.0.239 # Must be kept in sync with ruff version in .pre-commit-config.yaml
scanpy==1.9.3
scipy==1.10.1
SQLAlchemy==1.4.49
SQLAlchemy-Utils==0.41.1
tenacity==8.2.2
tiledbsoma==1.4.4
dask==2023.8.1
