allure-pytest<3
black==24.3.0  # Must be kept in sync with black version in .pre-commit-config.yaml
click
coverage
furl>=2.1.2, <3
moto>=5.0.0
parameterized
pytest
pytest-subtests
ruff==0.4.3 # Must be kept in sync with ruff version in .pre-commit-config.yaml
