allure-pytest<3
black==24.3.0  # Must be kept in sync with black version in .pre-commit-config.yaml
click
coverage
parameterized
pytest
pytest-subtests
ruff==0.0.239 # Must be kept in sync with ruff version in .pre-commit-config.yaml