asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
clickclick==20.10.2
connexion==2.12.0
cycler==0.11.0
dataclasses-json==0.5.7
decorator==5.1.1
executing==0.8.2
fastobo==0.11.1
Flask==2.0.3
flask-server-timing==0.1.2
fonttools==4.29.1
fsspec==2022.1.0
greenlet==1.1.2
h5py==3.6.0
idna==2.8
inflection==0.5.1
itsdangerous==2.1.0
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.2.0
jschema-to-python==1.2.3
jsonpatch==1.32
jsonpickle==2.1.0
jsonpointer==2.2
junit-xml==1.9
kiwisolver==1.3.2
llvmlite==0.39.0
MarkupSafe==2.1.0
matplotlib-inline==0.1.3
matplotlib==3.5.1
mccabe==0.6.1
mypy-extensions==0.4.3
natsort==8.1.0
networkx==2.7
numba==0.56.2
numexpr==2.8.1
numpy==1.23.2
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
packaging==21.3
pandas==1.4.4
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pbr==5.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
prompt-toolkit==3.0.28
pronto==2.4.4
psutil==5.9.0
psycopg2-binary==2.8.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==7.0.0
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pydantic>=1.9.0
pyflakes==2.4.0
Pygments==2.11.2
pygraphviz
pynndescent==0.5.6
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
regex==2022.3.2
s3transfer==0.5.2
sarif-om==1.0.4
scanpy==1.9.1
scikit-learn==1.0.2
scipy==1.9.1
six==1.16.0
SQLAlchemy>=1.3.17,<2
stack-data==0.2.0
stdlib-list==0.8.0
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tqdm==4.63.0
traitlets==5.1.1
typed-ast==1.5.2
typing_extensions==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
websocket-client==1.3.1
Werkzeug==2.0.3
wrapt==1.13.3
xlrd==1.2.0
zope.event==4.5.0
zope.interface==5.4.0
