alembic==1.16.4
anndata>=0.10.1
boto3==1.39.15
botocore>=1.39.15, <1.40.0
cellxgene-census>=1.16.2 # WMG pipeline always reads the latest version of Census so we need to use the latest package version
cellxgene-ontology-guide~=1.7.2
dataclasses-json==0.6.7
ddtrace==3.11.0
numba>=0.58.0
numpy>=2.3.2,<3.0.0
openai==1.97.1
pandas==2.3.1
psutil==7.0.0
pyarrow==21.0.0
pydantic<3
pygraphviz==1.14
python-json-logger==3.3.0
requests>=2.22.0
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
scanpy==1.11.3
scipy==1.16.1
SQLAlchemy==2.0.41
SQLAlchemy-Utils==0.41.2
tenacity==9.1.2
tiledb
tiledbsoma>=1.15.3 # WMG pipeline always reads the latest version of Census so we need to use the latest package version
dask==2025.7.0
