deployment_stage = "XXX"

// Ledger RDS
db_username = "xxxxxxxx"
db_password = "xxxxxxxxxxxxx"
db_instance_count = 1
preferred_maintenance_window = "sat:09:08-sat:09:38"

// Browser RDS
browser_db_username = "xxxxxxxx"
browser_db_password = "xxxxxxxxxxxxx"
browser_db_instance_count = 1
browser_preferred_maintenance_window = "sat:09:08-sat:09:38"

// Cloudfront
refer_secret="a 64 character long random string"
