deployment_stage = "XXX"

// Browser RDS
browser_db_username = "xxxxxxxx"
browser_db_password = "xxxxxxxxxxxxx"
browser_db_instance_count = 1
browser_preferred_maintenance_window = "sat:09:08-sat:09:38"

// Browser Frontend
refer_secret="a 64 character long random string"
route53_zone_id= "zoneid"
api_gateway_id ="addsavtrrav"

// CICD
api_gateway_staging="The id of the the api-gateway created when first deploying the browser backend for staging"
api_gateway_dev="The id of the the api-gateway created when first deploying the browser backend for dev"
