cellxgene-schema @ git+https://github.com/chanzuckerberg/single-cell-curation@4097e0c370a675917f3617b1c9ce057ddc021609#subdirectory=cellxgene_schema_cli
dataclasses-json
matplotlib==3.6.3 # 3.7.0 isn't compatible with scanpy: https://github.com/scverse/scanpy/issues/2411
numba==0.56.2
numpy==1.23.2
pandas==1.4.4
psutil>=5.9.0
psycopg2-binary>=2.8.5
pyarrow>=1.0
pydantic>=1.9.0
python-json-logger
scanpy==1.6.0
SQLAlchemy-Utils>=0.36.8
SQLAlchemy>=1.4.0,<1.5
