anndata>=0.10.1
awscli==1.42.16
boto3==1.40.16
cellxgene-census>=1.16.2
cellxgene-ontology-guide~=1.7.2
ddtrace==3.12.2
numba>=0.58.0
numpy>=2.3.2,<3.0.0
openai==1.101.0
pandas==2.3.2
psutil==7.0.0
pydantic==2.11.7
requests==2.31.0
scipy==1.16.1
tiledb
tiledbsoma>=1.15.3
urllib3==1.26.16
pyarrow==21.0.0
dask==2025.7.0
