anndata>=0.10.1
awscli==1.42.73
boto3==1.40.73
cellxgene-census>=1.16.2
cellxgene-ontology-guide~=1.9.0
ddtrace==3.18.1
numba>=0.58.0
numpy>=2.3.4,<3.0.0
openai==2.8.0
pandas==2.3.3
psutil==7.1.3
pydantic==2.12.4
requests==2.31.0
scipy==1.16.3
tiledb
tiledbsoma>=1.15.3
urllib3==1.26.16
pyarrow==22.0.0
dask==2025.11.0
