anndata>=0.10.1
awscli==1.29.34
boto3==1.28.7
cellxgene-census>=1.16.2
cellxgene-ontology-guide<2
ddtrace==2.1.4
numba>=0.58.0
numpy>=1.24.0,<2.1.0
openai==0.27.7
pandas==2.2.1
psutil==5.9.5
pydantic==2.6.4
requests==2.31.0
scipy==1.11.1
tiledb
tiledbsoma>=1.15.3
urllib3==1.26.16
pyarrow==12.0.0
dask==2023.8.1
