alembic==1.*
Authlib==1.3.1
botocore>=1.14.17
dataclasses-json==0.6.7
cellxgene-ontology-guide==1.0.0
# TODO: Check if this is really essential for APM tracing
# see ticket: https://github.com/chanzuckerberg/single-cell-data-portal/issues/5821
datadog==0.49.1
Flask # verison determined by connexion
psutil>=6, <7
psycopg2-binary==2.*
pydantic>=1.10.7, <2
python-jose[cryptography]>=3.1.0
requests>=2.22.0
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
setproctitle>1.3,<2 # for gunicorn integration with datadog
SQLAlchemy-Utils
SQLAlchemy==2.*
tenacity
tiledb
