Authlib==0.14.3
connexion[swagger-ui]==2.13.0
dataclasses-json==0.5.7
Flask==2.2.3
Flask-Cors>=3.0.6
gunicorn[gevent] >=20.1.0, <21.0.0
matplotlib==3.6.3 # 3.7.0 isn't compatible with scanpy: https://github.com/scverse/scanpy/issues/2411
numba==0.56.2 # required for where's my gene
numpy==1.23.5  # required for where's my gene
pandas==1.5.3 # required for where's my gene
psutil==5.9.5
psycopg2-binary>=2.8.5
pyarrow==12.0.0 # required for where's my gene
pydantic==1.10.7
python-jose[cryptography]>=3.1.0
python-json-logger
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
scanpy==1.9.3
SQLAlchemy-Utils>=0.36.8
SQLAlchemy>=1.4.0,<1.5
flask-server-timing==0.1.2
Werkzeug==2.2.3
openai==0.28.0