anndata # uses the version supplied by cellxgene-schema
awscli
boto3>=1.11.17
cellxgene-schema==7.0.1
dask==2025.11.0
dataclasses-json
ddtrace==3.18.1
numba==0.62.1
numpy<3
pandas>2,<3
psutil>=5.9.0
psycopg2-binary==2.*
pyarrow>=1.0
pydantic<3
python-json-logger
pyvips==3.0.0
requests>=2.22.0
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
s3fs==2025.10.0
scanpy==1.11.5
SQLAlchemy==2.*
tenacity
tiledb==0.35.2  # Portal's tiledb version should always be the same or older than Explorer's
