anndata # uses the version supplied by cellxgene-schema
awscli
boto3>=1.11.17
cellxgene-schema==7.1.1
dask==2026.7.1
dataclasses-json
ddtrace==4.13.1
numba==0.67.0
numpy<3
pandas>3,<4
psutil>=5.9.0
psycopg2-binary==2.*
pyarrow>=1.0
pydantic<3
python-json-logger
pyvips==3.1.1
requests>=2.22.0
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
s3fs==0.6.0
scanpy==1.12.3
SQLAlchemy==2.*
tenacity
tiledb==0.36.1  # Portal's tiledb version should always be the same or older than Explorer's
