alembic>=1.9
anndata==0.8.0
boto3>=1.11.17
botocore>=1.14.17
cellxgene-schema
dataclasses-json
ddtrace==2.1.4
furl
jsonschema
numba==0.56.2
numpy==1.23.2
pandas==1.4.4
psutil>=5.9.0
psycopg2-binary>=2.8.5
pyarrow>=1.0
pydantic>=1.9.0
PyMySQL==0.9.3
python-json-logger
requests>=2.22.0
rsa>=4.7
s3fs==0.4.2
scanpy==1.9.3
SQLAlchemy>=1.4.0
SQLAlchemy-Utils>=0.36.8
tenacity
tiledb==0.21.4
