boto3==1.28.7
botocore>=1.31.7, <1.32.0
cellxgene-census>=1.10.0 # WMG pipeline always reads the latest version of Census so we need to use the latest package version
cellxgene-ontology-guide==0.8.0
ddtrace==2.1.4
numba>=0.58.0
numpy==1.23.5
openai==0.27.7
pandas==2.2.1
psutil==5.9.5
pyarrow==12.0.0
pydantic==1.10.7
pygraphviz==1.11
python-json-logger==2.0.7
requests>=2.22.0
scipy==1.10.1
tiledbsoma>=1.7.0 # WMG pipeline always reads the latest version of Census so we need to use the latest package version
dask==2023.8.1
