name: Deploy Happy

on: deployment

env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_REPO: ${{ secrets.ECR_REPO }}/

jobs:
  upgrade:
    runs-on: ubuntu-20.04
    steps:
      - name: Configure AWS Prod Credentials
        uses: aws-actions/configure-aws-credentials@v1
        if: github.event.deployment.environment == 'prod'
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_PROD_ROLE_TO_ASSUME }}
          role-duration-seconds: 900
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        if: github.event.deployment.environment != 'prod'
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 900
      # Login to ECR needed solely to be able to retrieve cached layers
      - name: Login to Prod ECR
        uses: docker/login-action@v1
        if: github.event.deployment.environment == 'prod'
        with:
          registry: ${{ secrets.ECR_REPO_PROD }}
      - name: Login to ECR
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.ECR_REPO }}
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.deployment.sha }}
      - name: Install happy dependencies
        run: |
          pip install -r .happy/requirements.txt
          pip install -r .happy/requirements2.txt
      - uses: avakar/set-deployment-status@v1
        with:
          state: in_progress
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update deployment
        env:
          TFE_TOKEN: ${{ secrets.TFE_TOKEN }}
        run: |
          ./scripts/happy --profile="" --env ${{ github.event.deployment.environment }} update ${{ github.event.deployment.environment }}stack --tag ${{ github.event.deployment.payload.tag }}
      - name: Run Smoke Tests
        env:
          DEPLOYMENT_STAGE: ${{ github.event.deployment.environment }}
        run: |
          if [ "${DEPLOYMENT_STAGE}" == "stage" ]; then
            export DEPLOYMENT_STAGE=staging
          fi
          make local-e2e
      # Disabled temporarily
      # - name: Run functional test
      #   env:
      #     TFE_TOKEN: ${{ secrets.TFE_TOKEN }}
      #     DEPLOYMENT_STAGE: ${{ github.event.deployment.environment }}
      #   if: github.event.deployment.environment != 'prod'
      #   run: |
      #     echo "DOCKER_REPO=${DOCKER_REPO}" > .env.ecr
      #     mkdir -p .local/bin
      #     curl -Ls https://github.com/segmentio/chamber/releases/download/v2.9.1/chamber-v2.9.1-linux-amd64 > .local/bin/chamber &&
      #     chmod +x .local/bin/chamber
      #     PATH="$PATH:$(pwd)/.local/bin"
      #     if [ "${DEPLOYMENT_STAGE}" == "stage" ]; then
      #       export DEPLOYMENT_STAGE=staging
      #     fi
      #     echo DEPLOYMENT_STAGE ${DEPLOYMENT_STAGE}
      #     docker-compose up --no-deps -d backend
      #     BOTO_ENDPOINT_URL= make local-functional-test
      ### Need to write success failure way because Github API doesn't allow doing
      ### "if: always(), state: ${{ success() }}:
      - name: Set deployment status to success if no errors
        uses: avakar/set-deployment-status@v1
        with:
          state: success
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set deployment status to failure if errors
        uses: avakar/set-deployment-status@v1
        if: failure()
        with:
          state: failure
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
