name: Promote Staging to Prod

on:
  workflow_dispatch: {}

jobs:
  merge_staging_to_prod:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch all history to make merges work correctly
      - name: Merge staging branch into prod branch
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          ./scripts/promote_staging_to_prod.sh ${{ secrets.GITHUB_TOKEN }}
      - name: Trigger repository_dispatch to build images for staging
        if: success()
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event-type: build-images-for-prod
          client-payload: '{"ref": "refs/heads/prod"}'
      - name: Send slack notification with @sc-on-call tag if staging not merged into prod
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,commit,author,eventName,workflow,job,mention
          mention: "subteam^S02K38PMTTQ"
          if_mention: "always"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
