name: Push Processing Base

on:
  push:
    paths:
      - Dockerfile.processing_base
  schedule:
    - cron: "0 11 * * *"

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          # list of Docker images to use as base name for tags
          images: ghcr.io/${{ github.repository_owner }}/corpora-upload-base
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=schedule,pattern={{date 'YYYYMMDD'}}
            type=ref,event=branch,prefix=branch-
            type=ref,event=tag
            type=ref,event=pr
            type=sha

      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GitHub Packages
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.ref == 'refs/heads/dan/5532-update-seurat' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: Dockerfile.processing_base
