name: Test Receiving Repository Dispatch

on:
  push:
    branches:
      - psridharan/trigger-stage-deploy

jobs:
  test_sending_repository_dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Test Sending Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event-type: test-repository-dispatch
          client-payload: '{"ref": "refs/heads/staging"}'
